

.title_home{
 -fx-font-family: "Poppins Bold";
 -fx-font-size: 36px;
 -fx-fill: -fx-dark;


}

.sections{
 -fx-font-size: 14px;
 -fx-background-color: -fx-light;
 -fx-font-family: "Poppins SemiBold";
 -fx-fill: -fx-dark;

}
.company_name{

 -fx-font-size: 16px;
 -fx-font-family: "Poppins";
 -fx-fill: -fx-dark;

}

.left_pane{

 -fx-background-color: -fx-light;

}