/*====================
  LOGIN MODULE CSS
  REV: 1.2
  GENERAL
====================*/

#root {
    -fx-background-radius: 12px;
    -fx-background-color: transparent;
}

.left-panel {
    -fx-background-color: #713BDB;
    -fx-background-radius: 12px 0 0 12px;
}

.right-panel {
    -fx-background-color: -fx-light;
    -fx-background-radius: 0 12px 12px 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.1),20,0,-10,0);
}

.title_wb{

    -fx-font-size: 28px;
    -fx-font-family: "Poppins ExtraBold";
    -fx-font-weight: bold;

}

.your_comp{

    -fx-text-fill: -fx-light;
    -fx-background-color: #713BDB;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.15),20,0,0,0);
    -fx-font-size: 16px;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;

}

.transparent {
    -fx-background-color: transparent;
}

/*====================
  SPECIFIC
====================*/



#logo {
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.15),20,0,0,0);
}

.input-field {
    -fx-font-size: 16px;
}
.right-logo{

    -fx-effect: dropshadow(gaussian,rgba(46,46,46,0.15),20,0,0,0);

}

.login-button {
    -fx-text-fill: -fx-light;
    -fx-background-color: #713BDB;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.15),20,0,0,0);
    -fx-font-size: 16px;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
}

