/*

    CSS GLOBALS
    REV: 1.0

*/

* {

    -fx-primary: #F5F6FB;
    -fx-accent: #2490EF;
    -fx-accent-2: #713BDB;

    -fx-warning: #FFA900;
    -fx-success: #00B74A;
    -fx-danger: #F93154;

    -fx-light: #fff;
    -fx-dark: #2E2E2E;


    -fx-background-content: #F5F6FB;

    -fx-primary-3: #0E6CBE;
    -fx-primary-4: #2dc4ed;

    -fx-font-family: "Poppins";

}

#root {
    -fx-background-color: transparent;
}

.layout-master {
    -fx-background-color: transparent;
}

.layout-top {
    -fx-background-color: -fx-light;
}

.layout-corner-top-left {
    -fx-background-radius: 12px 0 0 0;
}

.layout-corner-top-right {
    -fx-background-radius: 0 12px 0 0;
}

.layout-corner-bottom-left {
    -fx-background-radius: 0 0 0 12px;
}

.layout-corner-bottom-right {
    -fx-background-radius: 0 0 12px 0;
}

/*====================
  OLD
====================*/

.title {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold !important;
}

.title-2 {
    -fx-font-size: 20px;
    -fx-font-family: "Poppins SemiBold";
    -fx-fill: -fx-dark;
}
