/*

    CSS GLOBALS
    REV: 1.0

*/

* {

    -fx-primary: #2490EF;
    -fx-accent: #B23CFD;

    -fx-warning: #FFA900;
    -fx-success: #00B74A;
    -fx-danger: #F93154;

    -fx-light: #fff;
    -fx-dark: #2E2E2E;

    -fx-primary-2: #0E6CBE;
    -fx-primary-3: #2dc4ed;

    -fx-font-family: "Poppins";

}

.title {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold !important;
}

.title-2 {
    -fx-font-size: 20px;
    -fx-font-family: "Poppins SemiBold";
    -fx-fill: -fx-dark;
}
