/*

    CSS GLOBALS
    REV: 1.0

*/

* {

    -fx-primary: #9DA2B7;
    -fx-accent: #2490EF;
    -fx-accent-2: #713BDB;

    -fx-warning: #FFA900;
    -fx-success: #00B74A;
    -fx-danger: #F93154;

    -fx-light: #fff;
    -fx-dark: #2E2E2E;


    -fx-background-content: #F5F6FB;

    -fx-primary-3: #0E6CBE;
    -fx-primary-4: #2dc4ed;

    -fx-font-family: "Poppins";

}

#root {
    -fx-background-color: transparent;
}

.title {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold !important;
}

.title-2 {
    -fx-font-size: 20px;
    -fx-font-family: "Poppins SemiBold";
    -fx-fill: -fx-dark;
}
