.leftPane{

  -fx-background-color: linear-gradient(to bottom left, #2490EF, #2dc4ed);

}

.button{

  -fx-text-fill: #ffffff;
  -fx-background-color: linear-gradient(to bottom left, #2490EF, #2dc4ed);
  -fx-background-radius: 4;

}

.button:hover{

  -fx-text-fill: #000000;
  -fx-background-color: linear-gradient(to bottom left, #2490EF, #2dc4ed);
}

.button2{

  -fx-text-fill: #ffffff;
  -fx-background-color: linear-gradient(to bottom left, #2490EF, #2dc4ed);
  -fx-background-radius: 4;

}

.button2:hover{

  -fx-text-fill: #000000;
  -fx-background-color: linear-gradient(to bottom left, #2490EF, #2dc4ed);
}